
header{
    background-color: rgb(255, 255, 255);
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav{
    background-color: bisque;
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
    }

nav li{
    display: inline-block;
    font-size: 18px;
    padding: 15px;
}
