header{
    position: fixed; 
    top: 0;
    display: flex;
    flex-direction: row;
    background-color: #f8f8f8;
    justify-content: space-between;
    position:sticky;
    height: 10vh;
    width: 100%;
    font-size: 0.5rem;
}
header div{
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-left: 10px;
}
header nav{
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-right: 10px;

}
header nav a{
    text-decoration: none;
    color: gray;
}

header form{
    width: 70%;
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 80%;
    margin-top:5px;
    background:rgba(184, 178, 178, 0.295);
    outline: none;
    border-radius: 25px;
}

header form div input{
    align-self: center;
    font-size: 2rem;
    display: flex;
    padding-left: 30px;
    height: 100%;
    width: 100%;
    background: transparent;
    border-style: none;
    outline: none;
    border-radius: 25px;
}

.finder:hover{
    background-color:rgba(139, 139, 139, 0.534);
}


body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

main{    
    display: flex;
    background-color:#f8f8f8;
    flex-direction: row;
    height: 90vh;
    width: 100%;
}

section{
    margin: 0;
    padding: 0;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-items:stretch;
    align-items: flex-start;
    width: 100%;
    overflow-y: scroll;
    place-items: center;
}


footer{
    align-items: center;
    display: flex;
    background-color: #90a4ae;
    color: black;
    flex-direction: row;
    height: 50px;
    justify-content: center;
    width: 100%;
}
footer p{
    margin: 0;
}
footer a{
    margin-left: 5px;
    color: black;
}
footer section div a img{
    height: 30px;
    border-radius: 25%;
    margin: 2px;
}

.logo{
    border-radius: 50%;
    height: 26px;
    max-width: 26px;
    margin-left: 15px;
    margin-right: 5px;
}


.navbarInicio{
    background-color: black;
    color:white;
    margin: 2px;
    padding: 12px;
    border-radius: 25px;
}

.navbarHoy{
    margin: 2px;
    padding: 12px;
    border-radius: 25px;
}

.navbarHoy:hover{
    background-color: rgba(199, 194, 194, 0.295);
    margin: 2px;
    padding: 12px;
    border-radius: 25px;
}


.notificacion, .mensajes, .usera{
    background-color: cfd8dc;
    margin: 2px;
    padding: 12px;
    border-radius: 25px;
    height: 15px;
    width: 14px;
}

.usera:hover, .notificacion:hover, .mensajes:hover{
    background-color: rgba(199, 194, 194, 0.295);
    margin: 2px;
    padding: 12px;
    border-radius: 25px;
    height: 15px;
    width: 14px;
}

.card-image{
}

.card-image:hover{
    border-radius: 30px;
}


.container {
    position: relative;
    width: 50%;
}

.card-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.container:hover .card-image {
    opacity: 0.3;
}
.container:hover .middle {
    opacity: 1;
}
.text {
    background-color: #aa0404;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    border-radius: 25px;
    align-self: flex-start;
}





    @media all and (min-width: 100px) {
        .card-image {
        width: 80px;
        align-self: center;
        border-radius: 25px;
        margin: 5px;
        }
        }

    @media all and (min-width: 450px) {
        .card-image {
        width: 180px;
        align-self: center;
        border-radius: 25px;
        margin: 5px;
        }
        }
    @media all and (min-width: 900px) {
        .card-image {
        width: 250px;
        align-self: center;
        border-radius: 25px;
        margin: 5px;
        }
        }
    @media all and (min-width: 925px) {
        .card-image {
        width: 300px;
        align-self: center;
        border-radius: 25px;
        margin: 5px;
        }
        }



